<section class="apps-graveyard panel panel-default">
  <header class="panel-heading row">
    <h1>
      <i class="fa fa-check-square-o"></i>
      Manager Page
    </h1>
    <h2 class="subhead2">
      Statistics: Data fields not provided
    </h2>
  </header>

  <body>

    <div class="panel-body" style="margin : 20px">
      <h2 class="ea-panel-body panel-body">
        <p> {{message}} </p>
      </h2>
      <table id="managertable" style="cursor: pointer;" data-search="true"
        data-advanced-search="true" data-id-table="managertable"
        data-trim-on-search="false" data-show-columns="true"
        data-show-export="true"
        data-classes="table table-no-bordered table-hover table-condensed"
        data-striped="true" data-pagination="true"
        data-show-pagination-switch="true" data-sort-name="Name"
        data-sort-order="asc">
      </table>

    </div>
  </body>
  <!-- <div class="panel-body"> -->
  <!-- <img src="/gear/lib/gsaea/images/apps-graveyard_11072016.png" width="100%" /> -->
  <!-- </div> -->
</section>
