.Title {
    text-align: center;
    font-size: 300%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 10px;
}

.Version {
    font-size: 10%;
}

.SubText {
    text-align: center;
}

.Icon {
    text-align: center;
}

.WarningCard {
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    background-color: rgba(255, 249, 222, 1);
    padding: 30px;
    box-sizing: border-box;
}