<section class="release-notes ea-panel panel panel-default">
    <header class="panel-heading row">
        <h1>
            <i class="fa fa-file-text"></i>
            Release Notes
        </h1>
    </header>
    <div class="ea-panel-body panel-body">
        <h4>Release Date</h4>
        <p> {{date}}</p>
        <br>
        <!-- <a name = newfeature> -->
        <h4>New Features</h4>
        <p>  <a href="https://ea.gsa.gov/EAWEB/#!/applications_TIME" target="_blank" value="Application TIME reports Available">Application TIME reports Available</a></p>
        <p> Now you can send out links with pre-structured/ sort through results </p>
        <!-- <p> Add column, url updated </p> -->
        <br>
        <br>
        <!-- <!-- <a name = change> -->
        <h4>Changes</h4>

        <p>Updated <a href="https://ea.gsa.gov/EAWEB/#!/investments" target="_blank" value="Investment Report">Investment Report</a></p>
        <p>"Alias" has been added to <a href="https://ea.gsa.gov/EAWEB/#!/applications_retired" target="_blank" value="Retired GSA Application Report">Retired GSA Application Report</a></p>
        <p>TYPE was removed from the <a href="https://ea.gsa.gov/EAWEB/#!/itstandards" target="_blank" value="IT Standards Report">IT Standards Report</a></p>
        <p>RISSO report has been removed from Security tab</p>
        <!-- <p> XXX report Column change </p> -->
        <!-- <br> -->
        <!-- <a name = sysrequire> -->
        <br>
        <br>
        <h4>System Requirements</h4>
        <p> <a href="https://www.google.com/chrome/browser/desktop/" target="_blank" value="Google Chrome">Google Chrome</a></p>
        <p><a href="https://support.microsoft.com/en-us/help/17621/internet-explorer-downloads" target="_blank" value="Internet Explorer">Internet Explorer</a></p>
        <br>


        <!-- <!-- <a name = fixes> -->
        <!-- <h4>Fixes</h4> -->
        <!-- <p> Back button xxx </p> -->

        <br>
        <a href="http://www.google.com" target="_blank" value="User Manual">User Manual</a>
        <br>
       
        <a name=Contactus>
            <a href="mailto:ea_planning@gsa.gov">Contact EA Team</a>
</div>
</section>

