<section class="apps-graveyard panel panel-default">
    <header class="panel-heading row">
        <h1>
            <i class="ico headstone"></i>
            Business Application Graveyard
        </h1>
        <h2 class="subhead">
            60 business applications eliminated or soon to be eliminated through application rationalization (FAS: 33, CFO: 27)
        </h2>
    </header>
    <div class="panel-body">
        <img src="lib/gsaea/images/apps-graveyard_11072016.png" width="100%" />
    </div>
</section>
