<section class="known-issues ea-panel panel panel-default">
    <header class="panel-heading row">
        <h1>
            <i class="fa fa-bug"></i>
            Known Issues
        </h1>
    </header>
    <div class="ea-panel-body panel-body">
        <h4>Not all known bugs are published: often bugs are resolved quickly or do not affect users.</h4>
        <p><li>Search functionality in the FISMA system inventory report doesn't report back when searching the word "Google". This is a known issue due to the fact the Related Artifact field has google hyperlinks in them.</li></p>
	<p><li>Application Interface Diagram - spacing between each application is limited causing the user to pull apart applications manually.</li></p>
	<p><li>Internet Explorer (IE) compatibility with GEAR - unable to export reports.</li></p>
	<p><li>The browser "Back" button will take you back to the previously viewed page, but will not retain any report selections or filters applied.</li></p>
    </div>
</section>


