doctype html
html
head
	title GEAR Authentication
	link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
	link(rel='stylesheet' href='//netdna.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css')

body
	.container
		.col-sm-6.col-sm-offset-3
			block content
