<section class="apps-graveyard panel panel-default">
    <header class="panel-heading row">
        <h1>
            <i class="ico headstone"></i>
            Business Application Graveyard
        </h1>
        <h2 class="subhead">
            70 business applications eliminated or soon to be eliminated through application rationalization (FAS: 34, CFO: 27, OHRM: 9)
        </h2>
        <h3 class="subhead2">
           <a href = 'https://docs.google.com/a/gsa.gov/spreadsheets/d/1IfLlDkZHJMLTkwoS58VACvwZi_c2XICYzNGIXsSP2pg/edit?usp=sharing' target= '_blank'> Click here for more information regarding the Cost Savings and Avoidance achieved through Application Rationalization. </a>
        </h3>
    </header>
    <div class="panel-body">
        <img src="/gear/lib/gsaea/images/GEAR App Graveyard as of 2018 3 8.jpg" width="100%" />
    </div>
</section>
