<!-- The article view -->
<section class="row" data-ng-controller="ApplicationController" data-ng-init="createInterfaceSSOChart()">
<script>$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
    <div class="col-md-12">
        <div id="application" class="panel panel-default" style="height: auto;">
            <div id="interfaceheader" class="panel-heading">
                <h3><i class="fa fa-exchange fa-fw"></i>Business Application Interface Model</h3>
				<button style="position:absolute;right:30px; top:15px;" type="button" class="btn btn-lg btn-info" data-toggle="popover" data-placement="bottom" data-html="true" title="Business Application Interface Model Help" data-content="<b>Drag:</b> Drag and click a business application to pin it in a specific location.<br><b>Click:</b> Click on a business application to only show the interfaces for that business application.">Help using this model</button>
			</div>
			<div id="interfacessochart" class="panel-body">
	<!--			<div class="ui-widget col-xs-4">
					<input class="form-control" id="search">
				</div>
				<button type="button" class="btn" ng-click="searchNode(svg)">Find in model</button>  -->
			</div>
        </div>
    </div>
</section>
