<!-- The article view -->
<section class="row" data-ng-controller="ApplicationController"
  data-ng-init="createInterfaceChart()">
  <div class="col-md-12">
    <div id="application" class="panel panel-default" style="height: auto;">
      <div id="interfaceheader" class="panel-heading">
        <h3><i class="fa fa-exchange fa-fw"></i>Business Application Interface
          Model</h3>
      </div>
      <div id="interfacechart" class="panel-body">

      </div>
    </div>

    <div id="tooltip">

    </div>
  </div>
</section>
