<!-- The article view -->
<section class="row" data-ng-controller="BusinessController"
  data-ng-init="createOrgChart()">
  <script>
    $(function() {
      $('[data-toggle="popover"]').popover()
    })
  </script>

  <div class="col-md-12">
    <div id="business" class="panel panel-default" style="height: auto;">
      <div id="businessheader" class="panel-heading">
        <h3><i class="fa fa-sitemap fa-fw"></i>GSA Organization Chart</h3>
        <button style="position:absolute;right:30px; top:15px;" type="button"
          class="btn btn-lg btn-info" data-toggle="popover" data-container="body" data-trigger="'outsideClick'"
          data-placement="bottom" data-html="true" title="Model Help"
          data-content="
				<b>Hover:</b> Hover over a circle next to an organization to see its description. In the pop-up window, click the <i class='fa fa-file-text-o'></i>  icon to see additional information about the organization or click the <i class='fa fa-close'></i> icon to close the window.<br>
				<b>Click:</b> Left click on the circle next to an organization to see the next level of the organization. (Not all organizations have another level).">Help
          using this model</button>
      </div>
      <div id="orgchart" class="panel-body">
      </div>
    </div>
    <div class="panel panel-info" id="orgdetail"
      style="display:none; width:400px; height: auto; position: fixed; top: 150px; right: 60px;">
      <div id="orgdetailheader" class="panel-heading">
        <div id='orgname' style="margin-right:25px;">
        </div>
        <div style='margin-left:30px;'>
          <i id='orgdet' class='fa fa-file-text-o'
            style="position:absolute;right:30px; top:10px;"
            data-toggle="tooltip"
            title="Click to view organization details"></i>
          <i id='orgclose' class='fa fa-close'
            style='position:absolute;right:10px; top:10px;'
            data-toggle="tooltip" title="Close this box"></i>
        </div>
      </div>
      <div id="orgdetailbody" class="panel-body" style="margin: 10px;">
      </div>
    </div>
  </div>
</section>
