<section class="row">
  <div class="col-md-12">
    <div id="application" class="panel panel-default" style="height: auto;">
      <div id="glossary" class="panel-heading">
        <h3>Do you have a business need to edit GEAR data?</h3>
      </div>
      <div class="panel-body" style="margin : 20px">
        <!-- <div role="tabpanel" class="tab-pane" id="glossary"> -->
        <p>The <b>GEAR Manager</b> web application provides the ability for
          business and technology POCs to edit and update their applications.
        </p>
        <p>If you have a business need to edit GEAR data, please <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSdmvOEESbKRJ5z4GnOw9hMqWIAI8m5H8I0-tB4zU3mc3aeYPA/viewform?usp=sf_link"
            target="blank">request access to GEAR Manager</a>.</p>
        <br>
        <p>If you've already been granted access,</p>
        <h3><a href="/admin" rel="noopener noreferrer" target="_blank">Access
            GEAR Manager</a>
        </h3>
      </div>
    </div>
  </div>
</section>
