<section class="row">
  <div class="col-md-12">
    <div id="application" class="panel panel-default" style="height: auto;">
      <div id="glossary" class="panel-heading">
        <h3>Glossary</h3>
      </div>
      <div class="panel-body" style="margin : 20px">
        <!-- <div role="tabpanel" class="tab-pane" id="glossary"> -->

        <p>A <b>Business Application</b>, or <b>Application</b> is a piece of
          software which a customer uses to perform at least one business
          capability within GSA. For more information, please see the
          presentation <a
            href="https://docs.google.com/presentation/d/1ObxZWwtOq3tKE3Um39_X_mLmHdKvys_Jb1qdAZP45R4/edit#slide=id.g3b46850f1_218"
            target="blank">What is an Application?</a></p>
        <!-- <br> -->
        <p>A <b>Parent System</b>, or <b>System</b> is a concept that groups
          together similar and related Business Applications that work together
          to deliver enhanced business capabilities.</p>
        <!-- <br> -->
        <p>A <b>Technology</b> is intended to describe those component parts of
          Business Applications that work together to deliver a business
          capability.</p>
        <!-- <br> -->
        <p>The concept of the <b>Platform</b> is intended to describe a software
          development environment that the applications, systems, etc. are built
          upon.</p>
        <!-- <br> -->
        <p>An <b>Informational Website</b> is intended to represent a
          non-interactive presentation of information.</p>
        <!-- <br> -->
        <p><b>Cloud</b> indicates the hosting location of the data. If the data
          are not on Cloud, the <b>Hosting Provider</b> is GSA. Otherwise, if
          the data are on cloud, the Hosting Provider is an external provider.
        </p>
        <!-- <br>              -->
        <p>For more information on the relationship of key definitions, please
          refer to <a
            href="https://docs.google.com/document/d/1BuFA4bo5ubOmWoYBv1_PzO7pe2TYHLrmZgLJRzS-3TY/edit?ts=5909dbdf#heading=h.pjiwbh542ywo"
            target="blank">An Agile Approach to Federal Enterprise
            Architecture</a>.</p>
        <br>
        <p><b>FISMA</b> is the abbreviation for Federal Information Security
          Modernization Act, please visit <a href="https://www.dhs.gov/fisma"
            target="blank"> here</a> for additional information.</p>
        <br>
        <!-- </div> -->

      </div>
    </div>
  </div>
  </div>
</section>
