<!-- The article view -->
<section class="row" data-ng-controller="StrategyController" data-ng-init="createAppRoadmap()">
<style type="text/css">
#appstratchart{font-family: Arial, sans-serif;font-size:10px;}
.axis path,.axis line {fill: none;stroke:#b6b6b6;shape-rendering: crispEdges;}
/*.tick line{fill:none;stroke:none;}*/
.tick text{fill:#999;}
g.journal.active{cursor:pointer;}
text.label{font-size:12px;font-weight:bold;cursor:pointer;}
text.value{font-size:12px;font-weight:bold;}
</style>
<script>$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>


    <div class="col-md-12">
        <div id="business" class="panel panel-default" style="height: auto;">
            <div id="businessheader" class="panel-heading">
                <h3><i class="fa fa-sitemap fa-fw"></i>GSA Business Application Roadmap</h3>
				<button style="position:absolute;right:30px; top:15px;" type="button" class="btn btn-lg btn-info" data-toggle="popover" data-placement="bottom" data-html="true" title="Model Help"
				data-content="
				<b>Hover:</b> Hover over a circle next to an organization to see its description. In the pop-up window, click the <i class='fa fa-file-text-o'></i>  icon to see additional information about the organization or click the <i class='fa fa-close'></i> icon to close the window.<br>
				<b>Click:</b> Left click on the circle next to an organization to see the next level of the organization. (Not all organizations have another level).">Help using this model</button>
			</div>
			<div id="appstratchart" class="panel-body">
			</div>
        </div>

    </div>
</section>
