<section class="demo-section apps-graveyard panel panel-default" ng-show="user">
    <a class="btn btn-link pull-right" href="/logout">Logout <i class="fa fa-sign-out"></i></a>
    <header class="panel-heading row">
        <h4 class="demo"><i class="fa fa-pencil-square"></i>Demo<i class="fa fa-pencil-square"></i></h4>
        <h1>
            FISMA Systems
        </h1>
        <h2 id="hed" class="subhead">
            Welcome, {{ user.name }}
        </h2>
        <h3 class="subhead2">
            Member of: {{ user.groups }}
        </h3>
    </header>
    <div class="panel-body">
        <div class="form-group">
            <form id="edit-form" data-contrib="Standards">
                <div class="cntr">
                    <label for="f_id">Id</label>
                    <input id="f_id" type="text" name="id"
                        value="{{ rows.id }}" disabled />
                </div>
                <div class="cntr">
                    <label for="f_name">Name</label>
                    <input class="input" id="f_name" type="text"
                        name="name" value="{{ rows.appName }}" /><br/>
                </div>
                <div class="cntr">
                    <label for="f_desc">Desc</label>
                    <textarea class="input" id="f_desc" name="desc">{{ rows.desc }}</textarea><br/>
                </div>
                <input class="cancel btn btn-default" type="button" value="Cancel" />
                <input id="delete-btn" class="input btn btn-danger" type="button" name="delete" value="Delete" />
                <input class="input btn btn-warning" type="submit" name="submit" value="Submit" />
            </form>
        </div>
    </div>
</section>
<section class="apps-graveyard panel panel-default" ng-hide="user">
    <header class="panel-heading row">
        <h1>
            Restricted Access
        </h1>
    </header>
    <div class="panel-body">
        <a class="btn btn-warning" href="/login">Login</a>
    </div>
</section>
