<section class="demo-section apps-graveyard panel panel-default" ng-show="user">
    <a class="btn btn-link pull-right" href="/logout">Logout <i class="fa fa-sign-out"></i></a>
    <header class="panel-heading row">
        <h4 class="demo"><i class="fa fa-pencil-square"></i>Demo<i class="fa fa-pencil-square"></i></h4>
        <h1>
            FISMA Systems
        </h1>
        <h2 id="hed" class="subhead">
            Welcome, {{ user.name }}
        </h2>
        <h3 class="subhead2">
            Member of: {{ user.groups }}
        </h3>
    </header>
    <div class="panel-body">
        <table class="mld-table">
            <tr style="border-bottom: solid 1px #aaa;">
                <th style="padding:5px;">
                    Id
                </th>
                <th style="padding:5px;">
                    Name
                </th>
                <th style="padding:5px;">
                    Description
                </th>
            </tr>
            <tr class="data-row" ng-repeat="r in rows" data-id="{{ r.id }}">
                <td class="" style="padding: 5px;">
                    <a href="/#!/admin-detail/{{ r.id }}">{{ r.id }}</a>
                </td>
                <td class="" style="padding: 5px;">
                    {{ r.appName }}
                </td>
                <td class="" style="padding: 5px;">
                    {{ r.desc }}
                </td>
            </tr>
        </table>
    </div>
</section>
<section class="apps-graveyard panel panel-default" ng-hide="user">
    <header class="panel-heading row">
        <h1>
            Restricted Access
        </h1>
    </header>
    <div class="panel-body">
        <a class="btn btn-warning" href="/login">Login</a>
    </div>
</section>
